.modify{
    background-color: black;
    color:aqua
}

.mod{
    background-color: antiquewhite;
    box-sizing: content-box;
}
.img{
    display: flex;
    height: 422px;
    width: 70px;
    margin-left: 0px;
}

